body{
	background-color: #e3e3e3;
	font-family: courier;
	color:black;
	margin: 0px;
}

div.opcion{
	margin:20px 30px 20px 30px;
	background-color:white;
	height:150px;
	border: 3px solid black;
	transition: margin .3s;
}

div.form-group, div.btn-group{
	padding: 16px 16px 0px 16px;
}

a, a:hover, a :visited{
	color: black;
	text-decoration: none;
}

p.espaciado{
	padding-inline-start: 170px;
	writing-mode: horizontal-tb;
}

ul.breadcrumb {
	padding: 10px 30px;
	list-style: none;
	background-color: #e3e3e3;
  }

ul.breadcrumb li {
	display: inline;
	font-size: 18px;
}

ul.breadcrumb li+li:before {
	padding: 1px;
	color: black;
	content: "/\00a0";
}

ul.breadcrumb li a {
	color: grey;
	text-decoration: none;
}

ul.breadcrumb li a:hover {
	color: black;
	text-decoration: underline;
}

div.userMenu{
	opacity:0;
	visibility:hidden;
	float:right;
	background-color:white;
	border:1px solid black;
	color:black;
	width:200px;
}

p.userOption{
	cursor:pointer;
	background-color:white;
	color:black;
	padding:5px;
	height:10px;
	line-height:10px;
}

p.userOption:hover{
	font-weight:bold;
}

div.users:hover div.userMenu{
	opacity:1;
	visibility:visible;
	transition:.3s;
}